body {
  margin: 0;
  padding: 0;
}
.topbar {
  background-color: black;
  padding: 5px;
}
.topbar a {
  color: white;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
}
.topbar a:hover {
  color: #F2F1EF;
  text-decoration: underline;
}
.main {
  margin: 10px;
  padding: 10px;
  min-height: 100vh;
  background-color: white;
  overflow: auto;
}

.main h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 50px;
}

.main h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 25px;
}

.main h3 {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
}

.main h4 {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
}

.main h5 {
  font-family: 'Open Sans', sans-serif;
  font-size: 10px;
}

.front-page {
  height: 95vh;
  background-image: url('bg2.jpg');
}

.front-page h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 250px;
  text-align: center;
}

.footer {
  background-color: black;
  padding: 5px;
  color: white;
  font-family: 'Roboto', sans-serif;
  padding-left: 30px;
  padding-bottom: 10px;
}
.footer a {
  color: white;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  padding-right: 5px;
}
.footer a:hover {
  color: #F2F1EF;
  text-decoration: underline;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Navbar */
.nav ul {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color: #ffd041;
font-family: 'Roboto', sans-serif;
}

.nav li {
float: left;
}

.nav li a {
display: block;
color: white;
text-align: center;
padding: 14px 16px;
text-decoration: none;
color: #000;
}

.nav li a:hover {
background-color: #ff4141;
font-weight: bold;
color: #000;
}

.list ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  font-family: 'Roboto', sans-serif;
}

.list li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

/* Change the link color on hover */
.list li a:hover {
  background-color: #555;
  color: white;
}

.team-card {
  width: 170px;
  background-color: #f1f1f1;
}

.team-card h4 {
  text-align: center;
  color: black;
  padding-top: 10px;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
}

.team-card img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  padding-left: 10px;
  padding-right: 10px;
}

.team-card ul {
  list-style: none;
}

.shirt-card {
  width: 500px;
  text-align: center;
  margin-right: 20px;
  margin-bottom: 20px;
}

.shirt-card img {
  width: 500px;
}

.rainbow-text {
  background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.login-form {
  font-family: 'Roboto', sans-serif;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.page h2 {
  text-align: center;
}

.news-post {
  border-style: solid;
  padding-left: 35px;
  border-width: thin;
}
